[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/mordak/SDL.git
	branch = term48
[submodule "vendor/touch-control-overlay"]
	path = vendor/touch-control-overlay
	url = https://github.com/blackberry/TouchControlOverlay.git
[submodule "vendor/libghostty-vt/vendor/ghostty"]
	path = vendor/libghostty-vt/vendor/ghostty
	url = https://github.com/ghostty-org/ghostty.git
[submodule "vendor/lua"]
	path = vendor/lua
	url = https://github.com/lua/lua.git
